*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
img{
    max-width:100%;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* Navbar */

header{
    background:white;
    padding:20px 80px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;
    padding: 0 40px;
}

.logo{
    width:180px;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:35px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-size:17px;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#0037ff;
}

/* Button */

.btn-register{
    background:#2952e3;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.btn-register:hover{
    background:#1737b8;
}
.hero{
    background-image: url("Assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-content{
    text-align: center;
    color: white;
    width:900px;
    transform: translateY(-80px);

}
.hero h1{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 25px;
}
.hero p{
    font-size: 22px;
    color: #d7d7d7;
    line-height: 1.6;
    margin-bottom: 40px;
}
.highlight-text{
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 600;

}